.form-group{
    margin-bottom: 1.5rem;
}
label{
    display: block;
    margin-bottom: 0.5rem;
}
input{
    width: 20%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    margin-left: 350px;
    margin-bottom: 50px;
    border-radius: 30px;
}
button.blue-button{
    background-color: blue;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 350px;
    border-radius: 30px;
}
h1{
    margin-left: 400px;
}